.all_Project{
    min-width:100vw;
    overflow-x:hidden;
    overflow-y:hidden;
 }
 .image_list h2{
     font-size:45px;
     font-family:'Dancing Script',cursive;
 
 }
 .project_details h3{
     font-size:40px;
     font-family:'Dancing Script',cursive;
 
}