
.side-bar{

  padding-top:180px;
  background-color:#564F6F;
  position:fixed;
  left:0px;
  bottom:2%;
  top:62px;
  width:75px;
 /* z-index:200;*/

}

#side-link{
  height:92px;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  flex-direction:column;

}

#side-link img{
  width:80%;

}

#side_image{
  background-color:transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  border:none;
  position:relative;
  animation-duration:1s;
  animation-fill-mode:both;
  animation-iteration-count:1;

}

#side_image #tooltip{
   position:absolute;
   background-color:gray;
   color:white;
   padding-top:3px;
   padding-bottom:3px;
   padding-left:6px;
   padding-right:6px;
   border-radius:5px;
   bottom: -20px;
   right:-10px;
   opacity:0;
 


}

#side_image:hover{

animation-name:rubberBand;


}
#side_image:hover #tooltip{

  opacity:1;
}
   
    
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.28, 0.76, 1);
  }

  40% {
    transform: scale3d(0.76, 1.28, 1);
  }

  50% {
    transform: scale3d(1.35, 0.80, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

@media only screen and (max-width:700px){

  .side-bar{

     opacity:0;

   }
 
}
@media only screen and (max-width:499px)
{
   
 }

