/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.App{
display:flex;
flex-direction:row;
font-family:'Fira code', monospace;
  /* Created with https://www.css-gradient.com */
background: #A18CD1;
background: -webkit-linear-gradient(top left, #A18CD1, #FBC2EC);
background: -moz-linear-gradient(top left, #A18CD1, #FBC2EC);
background: linear-gradient(to top right, #ADEDC2, #C4F4F9, #A18CD1, #FF6F61);

/*background:  linear-gradient(to top right, #BA1CBE, #D4BEDE, #3BA9E1,  #3091F6);*/






  
};
/* Created with https://www.css-gradient.com */
.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

